{% load i18n %}


<header class="header">

    <nav class="nav">


        <div class="navbar-brand">


            {% if site_settings.logo %}

                <img class="img-logo"

                src="{{ site_settings.logo.url }}"

                alt="{{ site_settings.site_name }}"

                >

            {% endif %}



            <p class="text-logo">
                {{ site_settings.site_name }}
            </p>
            


        </div>



        <ul class="ul-home">


            <li class="li-home">

                <a href="{% url 'home' %}" class="a-home">

                    {% translate "Inicio" %}

                </a>

            </li>



            <li class="li-home">

                <a href="{% url 'home' %}#artists" class="a-home">

                    {% translate "Artistas" %}

                </a>

            </li>



            <li class="li-home">

                {% include "includes/language_selector.html" %}

            </li>


        </ul>



    </nav>


</header>