{% load i18n %}


<header>

    <nav>


        <div class="navbar-brand">


            {% if site_settings.logo %}

                <img

                src="{{ site_settings.logo.url }}"

                alt="{{ site_settings.site_name }}"

                >

            {% endif %}



            <span>

                {{ site_settings.site_name }}

            </span>


        </div>



        <ul>


            <li>

                <a href="{% url 'home' %}">

                    {% translate "Inicio" %}

                </a>

            </li>



            <li>

                <a href="{% url 'home' %}#artists">

                    {% translate "Artistas" %}

                </a>

            </li>



            <li>

                {% include "includes/language_selector.html" %}

            </li>


        </ul>



    </nav>


</header>