{% load i18n %}

<section id="awards">

    <h2>
        {% translate "Premios" %}
    </h2>

    <div class="awards-list">

        {% for award in awards|slice:":3" %}

            {% include "includes/cards/award_card.html" %}

        {% empty %}

            <p>
                {% translate "Este artista aún no tiene premios registrados." %}
            </p>

        {% endfor %}

    </div>

    {% if awards %}
        <a href="{% url 'artist_awards' artist.slug %}">
            {% translate "Ver todos los premios" %}
        </a>
    {% endif %}

</section>
