{% load i18n %}

<article class="album-card">

    {% if album.cover %}
        <img
            src="{{ album.cover.url }}"
            alt="{{ album.title }}"
        >
    {% endif %}

    <h3>

        {{ album.title }}

    </h3>

    <p>

        <strong>{% translate "Fecha de lanzamiento" %}:</strong>
        {{ album.formatted_release_date }}

    </p>

    <button
        type="button"
        class="btn-ver-mas"
        data-href="{% url 'album_detail' album.slug %}"
    >

        {% translate "Ver más" %}

    </button>

</article>
