{% load i18n %}


<article class="artist-card">


    {% if artist.country %}

        {% if artist.country.flag %}
            <img
                src="{{ artist.country.flag.url }}"
                alt="{{ artist.country.name }}"
                class="country-flag"
                loading="lazy"
            >
        {% else %}
            <span class="country-flag">{{ artist.country.flag_emoji }}</span>
        {% endif %}

    {% endif %}


    {% if artist.profile_image %}

        <img
            src="{{ artist.profile_image.url }}"
            alt="{{ artist.stage_name }}"
            loading="lazy"
        >

    {% endif %}


    <h3>

        {{ artist.stage_name }}

    </h3>


    <button
        type="button"
        class="btn-ver-mas"
        data-href="{% url 'artist_detail' artist.slug %}"
    >

        {% translate "Ver más" %}

    </button>


</article>
