{% extends "core/base.html" %}

{% load static %}

{% block title %}

{{ album.title }}

{% endblock %}

{% block og_image %}
{% if album.cover %}
<meta
    property="og:image"
    content="{{ request.scheme }}://{{ request.get_host }}{{ album.cover.url }}"
>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/album.css' %}">
{% endblock %}


{% block content %}

{% include "includes/album/album_hero.html" %}

{% include "includes/album/songs.html" %}

{% endblock %}