{% extends "core/base.html" %}

{% load static %}


{% block title %}

{{ artist.stage_name }} | {{ site_settings.site_name }}

{% endblock %}




{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/artist.css' %}">
{% endblock %}


{% block content %}


<div id="top"></div>



{% include "includes/artist/hero.html" %}



{% include "includes/artist/albums.html" %}




{% include "includes/artist/gallery_preview.html" %}



{% include "includes/artist/news_preview.html" %}



{% include "includes/artist/awards_preview.html" %}



{% endblock %}